/*Global*/
:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:hsla(120,90%,33%,1);
    --button_font_size:0.9em;
}

 
/*News Bulletin*/

/* .bulletin{
    visibility: hidden;
    position: absolute;
    display: flex;
    background-position: 10% 10%; 
    justify-content: flex-start;
    align-items: center;
    font-family: "inconsolata" , sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #339933;
} */
  
                /*Cover section*/

.cover_section{
    padding-top: 60px;
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
/*    background-color: blue;*/
}
.cover_image{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("../images/cover_low.jpg")
    ;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.c_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    background-color: blue;*/
    align-items: center;
}
.c_header h1{
    font-family: 'Lobster', cursive;
/*    font-family: 'Carter One', cursive;*/
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    margin: 0px;
}

.searchbox{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    
/*    background-color: var(--pcolor);*/
}

.searchbar{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 35px;
    max-width: 400px;
/*    border-radius: 17.5px;*/
}

.searchbar .search_text{
    display: flex;
    background-color: var(--pcolor);
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    padding-left:18px;
    padding-right:12px;
    height: 100%;
    color:#fff;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border: 2px solid var(--pcolor);
}

.searchbar .searchbox_container{
    display: flex;
    flex: 1;
    height: 100%;
    border-top: 2px solid var(--pcolor);
    border-bottom: 2px solid var(--pcolor);
/*    overflow: hidden;*/
}
.searchbox_container .searchfield{
    width:100%;
    height: 100%;
    border: 0px solid #1EA075;
    padding-left:9px;
    font-size: 0.9em;
}
.searchbox_container .searchfield:focus{
    outline: 0px;
}

.searchbar .search_icon_container{
    display: flex;
    height: 100%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 65px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--pcolor);
    border-left:0px;
}
.search_icon_container:hover{
    background-color:rgba(255,255,255,0.7);
}
.search_icon{
    background-image: url("../icons/search.svg");
    fill:#fff;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/*Account Section*/

.account_section{
    display: flex;
    height: 170px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,0.3);
/*    background: linear-gradient(to top,var(--pcolordark),var(--pcolor));*/
/*    background-color: rgba(75, 19, 141, 0.89);*/
/*    background-color: var(--scolor);*/
    background-color: hsla(0,0%,0%,0.1)
}

.a_container{
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
/*    align-items: center;*/
/*    background-color: aqua;*/
}
    
.a_header{
    display: flex;
    width: 100%;
/*    background-color: aqua;*/
    justify-content: center;
    align-items: center;
}
.a_header p{
    width: auto;
    font-size: 0.9em;
/*    color: #fff;*/
/*    font-weight: bold;*/
    letter-spacing: 0.5px;
}

.buttons_container{
    width: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-rows: 55px;
    grid-template-columns: 160px 160px;
/*    background-color: chartreuse;*/
    justify-items:center;
    align-items:center;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 20px 0px 0px;
}
.buttons_container a{
    text-decoration:none;
}
.buttons_container a:hover{
   text-decoration: none;
}

.c_button{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    width: 160px;
    height: 40px;
    font-size: var(--button_font_size);
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    border-radius: 20px;
/*    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);*/
    transition: 0.4s ease;
}

.c_button:focus{
    outline: 0px;
}
.c_button p{
    margin: 0px;
    color:#fff;
    padding: 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.signin_button{
    background-color: var(--pcolor);
    border: 0px;
    box-shadow: 0px 0px 8px 0px hsla(350,70%,50%,1);
    
}
.signin_button:hover{
    box-shadow: 0px 0px 16px 0px var(--pcolor);
    transform:scale(0.92);
}

.login_button {
    background: var(--success_color);
    border: 0px;
    box-shadow: 0px 0px 8px 0px hsla(135,50%,40%,0.8);
}
.login_button:hover{
    box-shadow: 0px 0px 16px 0px var(--success_color);
    transform:scale(0.92);
}

.last{
    display: flex;
    padding:8px; 
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.last p a{
    font-size: 0.7em; 
    color: #000;
    text-decoration: none;
}
.last p a:hover{
    color: var(--pcolor);
    text-decoration: none;
}
                  /*Categories*/
.categories_section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
/*    height:700px;*/
    width: 100%;
    height: 1200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
/*    background-color: red;*/
}
.categories_section .ct_header{
    width: 100%;
    margin-top:20px; 
    padding-left: 20px;
    height: auto;
/*    font-weight: bold;*/
    font-size: 1.2em;
/*    background-color: yellow;*/
}

.ct_container{
/*
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    background-color: yellow;
    background-color: #770000;
*/
    display: grid;
    width: 100%;
    height: 100%;
    
    grid-template-columns: 150px 150px;
    
    grid-template-rows:190px 190px 190px 190px 190px;
    
    justify-items:center;
    align-items:center;
    justify-content: space-evenly;
    align-content: space-evenly;
/*grid-gap: 20px;*/
}


.thumbs{
    position: relative;
    display: flex;
    width:  150px;
    height: 190px;
    border-radius: 8px ; 
    overflow: hidden;
    flex-direction: column;
}
/*
.thumbs:hover{
    transform: scale(1.03);
    transition: 100ms ease-in-out;
}
*/

.image_container{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    transition: all 1s ease ;
}
.image_container .thumb_background{
    width: 100%;
    height: 100%;
}


.t_button{
    position: absolute;
    font-size: var(--button_font_size);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0px;
    color: #fff;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: inherit;
    background-color: var(--pcolor);
    transition: all 0.8s ease ;
    z-index: 2;
}

.inner_span{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 120%;
    height: 40px;
    background-color: var(--pcolor);
    transition: 1s ease ;
    z-index: -1;
}

.thumbs:hover .t_button{
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.3em;
}

.thumbs:hover .t_button .inner_span{
    background-color: rgba(0,0,0,0.6);
    background-color: var(--pcolor);
    transform: rotate(-10deg);
    height: 70px;
}

.thumbs:hover .image_container{
/*    transition: 3s ease ;*/
    transform: translateY(40px) scale(1.6);
}


.thumbs:hover .overlay{
/*    background-color: rgba(0,0,0,0.3);*/
}

/*Resposive*/

/*iphone regular 375px portrait  Default*/
@media only screen and (min-width: 375px) {
}
/*iphone (6-8) 375px portrait*/
@media only screen and (min-width: 375px) {
}
/*Android (Pixel 2) portrait 412px*/
@media only screen and (min-width: 412px) {
}
/*iphone (6-8) plump 414px portrait*/
@media only screen and (min-width: 414px) {
}
/*iphone (6-8) 667px landscape*/
@media only screen and (min-width: 600px) {
    .categories_section{
    height: 780px;
    }
    
    .ct_container{
    grid-template-columns: 150px 150px 150px;
    grid-template-rows:190px 190px 190px;
    }
    
}
/*Android (Pixel 2) landscape 684px*/
@media only screen and (min-width: 684px) {
}
/*iphone regular 734px landscape*/
@media only screen and (min-width: 734px) {
}
/*iphone (6-8) plump 736px landscape*/
@media only screen and (min-width: 736px) {
}
/*ipad portrait 768px*/
@media only screen and (min-width: 768px) {
    .categories_section{
    height: 780px;
    }
    
    .ct_container{
    grid-template-columns: 150px 150px 150px 150px ;
    grid-template-rows:190px 190px 190px;
    }
}

/*Android tab*/
@media only screen and (min-width: 992px) {
    .categories_section{
    height: 600px;
    }
    
    .ct_container{
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows:190px 190px;
    }
}

/*ipad landscape 1024px*/
@media only screen and (min-width: 1024px) {
    .categories_section{
    height: 550px;
    }
    .ct_container{
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows:190px 190px;
    }
}

/*laptop*/
@media only screen and (min-width: 1200px) {

.cover_section{
        height: 80vh;
    }
.c_header h1{
        font-size: 3em;
    }
.c_header p{
    font-size: 1.2em;
}
.last p{
    font-size: 1em;
}
.c_container{
        width:500px;
        height: 80%;
    }
.c_button{
    width: 220px;
    height: 60px;
    font-size: 1.2em;
}
    
.categories_section{
    height: 650px;
    }
.ct_container{
    grid-template-columns: 160px 160px 160px 160px 160px 160px;
    grid-template-rows:200px 200px;
    }
.thumbs{
        width: 160px;
        height:200px;
    }

.categories_section .ct_header{
    font-size: 2em;
}
.t_button{
    font-size: 1.1em;
    height: 50px;
    } 
.thumbs:hover .t_button{
    font-size: 1.3em;
}
.image_container{
    height: 150px;
    }
}

/*basic sizes
max width : 600px
min-width : 600px 
min-width : 768px
min-width : 992px
min- width : 1200px
*/











