:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
    --button_font_size:0.9em;
}

.body_section{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
   height: 700px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} 

.fheader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 80px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 00px;
}
.heading{
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    border-bottom: 2px solid var(--pcolor);*/
}
.heading h2{
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0px;
    color: var(--pcolor);
    padding: 0px;
}

.fcontainer{
    display: grid;
    height: 150px;
    
    min-width: 300px;
    max-width: 500px;
    border: 0px solid var(--pcolor);
    border-radius: 5px;
    background: var(--pcolor);
    grid-template-columns: 300px;
    grid-template-rows: 2em 2em;
    
    justify-items:center;
    align-items:center;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    background-color: var(--pcolordark);
    height: 2.5em;
    padding: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 5px;
}


.icon{
    width: 100%;
    height: 100%;
}

.fcontainer .textbox{
    display: flex;
    flex: 1;
    border: 1px solid hsla(0,100%,10%,0.3);
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 8px;
    font-size: 0.8em;
    background-color: rgba(255,255,255,1);
}

.fcontainer .textbox:focus{
    outline: 0px;
}

.textbox:hover .s_icon_container{
    box-shadow: 0px 0px 3px 0px #fff;
}

.row{
    display: flex;
    width: 90%;
    height: 2.5em;
    align-items: center;
}
.w50{
    width: 49%;   
}
.w100{
    width: 100%;
}

.button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 120px;
    font-size: var(--button_font_size);
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--pcolor);
    color: #fff;
    border: 0px;
}
.button:hover{
    border: 2px solid var(--pcolor); 
    background-color: transparent;
    color: var(--pcolor);
}
.button:focus{
    outline: 0px;
}

.body_section p{ 
    font-size: 0.9rem;
}
.body_section a{
    color: var(--pcolor) !important;
    cursor: pointer;
    font-weight: bold;
}

/*Tablet*/

@media all and (min-width: 600px) {

}

/*Desktop*/
@media all and (min-width: 900px) {
    



    
}


